.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #047986;
    color: white;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  .add-customer-btn {
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  