/* src/App.css */
.App {
  font-family: Arial, sans-serif;
}

.customer-form-container,
.customer-list-container,
.customer-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
}